Day17/books.dtd

<!ELEMENT books (book)+>
<!ELEMENT book (name,author,price)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT author (writter)>
<!ELEMENT writter (first,last)>
<!ELEMENT first (#PCDATA)>
<!ELEMENT last (#PCDATA)>
<!ELEMENT price (#PCDATA)>

<!ATTLIST book bid CDATA #REQUIRED>
<!--
+ - 1 or many
* - 0 or many
? - 0 or 1
  - 1 or 1

#REQUIRED
#IMPLIED
#FIXED "A1"
"A1"
-->